In [350]:
import numpy as np
import pandas as pd
import datetime as dt
from datetime import datetime, time
import seaborn as sns
import matplotlib.pyplot as plt
from collections import Counter
from itertools import combinations

In [2]:
data = pd.read_csv('movie_bd_v5.csv')
data.sample(5)

        imdb_id     budget    revenue  ... release_date vote_average release_year
919   tt0281322   20000000   12398628  ...    8/23/2002          6.3         2002
28    tt1895587   20000000   88346473  ...    11/6/2015          7.8         2015
1055  tt1764183   12000000   35485056  ...    9/14/2012          5.9         2012
371   tt1228705  200000000  623933331  ...    4/28/2010          6.6         2010
1341  tt0358082   75000000  260696994  ...    3/11/2005          5.9         2005

[5 rows x 14 columns]

In [3]:
data.describe()

             budget       revenue      runtime  vote_average  release_year
count  1.889000e+03  1.889000e+03  1889.000000   1889.000000   1889.000000
mean   5.431083e+07  1.553653e+08   109.658549      6.140762   2007.860773
std    4.858721e+07  2.146698e+08    18.017041      0.764763      4.468841
min    5.000000e+06  2.033165e+06    63.000000      3.300000   2000.000000
25%    2.000000e+07  3.456058e+07    97.000000      5.600000   2004.000000
50%    3.800000e+07  8.361541e+07   107.000000      6.100000   2008.000000
75%    7.200000e+07  1.782626e+08   120.000000      6.600000   2012.000000
max    3.800000e+08  2.781506e+09   214.000000      8.100000   2015.000000

# Предобработка

In [4]:
answers = {} # создадим словарь для ответов
display(answers)

# тут другие ваши предобработки колонок например:

#the time given in the dataset is in string format.
#So we need to change this in datetime format
# ...

{}

# 1. У какого фильма из списка самый большой бюджет?

Использовать варианты ответов в коде решения запрещено.    
Вы думаете и в жизни у вас будут варианты ответов?)

In [5]:
# в словарь вставляем номер вопроса и ваш ответ на него
# Пример: 
#answers['1'] = '2. Spider-Man 3 (tt0413300)'
# запишите свой вариант ответа
answers['1'] = '5. Pirates of the Caribbean: On Stranger Tides (tt1298650)'
display(answers)
# если ответили верно, можете добавить комментарий со значком "+"
# "+"

{'1': '5. Pirates of the Caribbean: On Stranger Tides (tt1298650)'}

In [6]:
# тут пишем ваш код для решения данного вопроса:
display(data.budget.max())
data[data.budget == data.budget.max()].original_title.describe()

380000000

count                                               1
unique                                              1
top       Pirates of the Caribbean: On Stranger Tides
freq                                                1
Name: original_title, dtype: object

ВАРИАНТ 2

In [7]:
# можно добавлять разные варианты решения
data[data.budget == data.budget.max()].original_title.unique()

array(['Pirates of the Caribbean: On Stranger Tides'], dtype=object)

# 2. Какой из фильмов самый длительный (в минутах)?

In [8]:
answers['2'] = 'Gods and Generals (tt0279111)'
# если ответили верно, можете добавить комментарий со значком "+"
# "+"
display(answers)

{'1': '5. Pirates of the Caribbean: On Stranger Tides (tt1298650)',
 '2': 'Gods and Generals (tt0279111)'}

In [9]:
data[data.runtime == data.runtime.max()].original_title.unique()

array(['Gods and Generals'], dtype=object)

ВАРИАНТ 2

In [10]:
data[data.runtime == data.runtime.max()].original_title.describe()

count                     1
unique                    1
top       Gods and Generals
freq                      1
Name: original_title, dtype: object

# 3. Какой из фильмов самый короткий (в минутах)?

In [11]:
answers['3'] = 'Winnie the Pooh (tt1449283)'
# если ответили верно, можете добавить комментарий со значком "+"
# "+"
display(answers)

{'1': '5. Pirates of the Caribbean: On Stranger Tides (tt1298650)',
 '2': 'Gods and Generals (tt0279111)',
 '3': 'Winnie the Pooh (tt1449283)'}

In [12]:
data[data.runtime == data.runtime.min()].original_title.unique()

array(['Winnie the Pooh'], dtype=object)

# 4. Какова средняя длительность фильмов?

In [13]:
answers['4'] = '110'
# если ответили верно, можете добавить комментарий со значком "+"
# "+"
display(answers)

{'1': '5. Pirates of the Caribbean: On Stranger Tides (tt1298650)',
 '2': 'Gods and Generals (tt0279111)',
 '3': 'Winnie the Pooh (tt1449283)',
 '4': '110'}

In [14]:
display(round(data.runtime.mean(),ndigits=False))
display(data.runtime.mean())

110.0

109.6585494970884

# 5. Каково медианное значение длительности фильмов?

In [15]:
answers['5'] = '107'
# если ответили верно, можете добавить комментарий со значком "+"
# "+"
display(answers)

{'1': '5. Pirates of the Caribbean: On Stranger Tides (tt1298650)',
 '2': 'Gods and Generals (tt0279111)',
 '3': 'Winnie the Pooh (tt1449283)',
 '4': '110',
 '5': '107'}

In [16]:
data.runtime.median()

107.0

# 6. Какой самый прибыльный фильм?
#### Внимание! Здесь и далее под «прибылью» или «убытками» понимается разность между сборами и бюджетом фильма. (прибыль = сборы - бюджет) в нашем датасете это будет (profit = revenue - budget)

In [17]:
answers['6'] = 'Avatar (tt0499549)'
# если ответили верно, можете добавить комментарий со значком "+"
# "+"
display(answers)

{'1': '5. Pirates of the Caribbean: On Stranger Tides (tt1298650)',
 '2': 'Gods and Generals (tt0279111)',
 '3': 'Winnie the Pooh (tt1449283)',
 '4': '110',
 '5': '107',
 '6': 'Avatar (tt0499549)'}

In [18]:
# лучше код получения столбца profit вынести в Предобработку что в начале
data['profit'] = data.revenue-data.budget
display(data.profit.max())

data[data.profit == data.profit.max()].original_title.unique()

2544505847

array(['Avatar'], dtype=object)

# 7. Какой фильм самый убыточный?

In [19]:
answers['7'] = 'The Lone Ranger (tt1210819)'
# если ответили верно, можете добавить комментарий со значком "+"
# "+"
display(answers)

{'1': '5. Pirates of the Caribbean: On Stranger Tides (tt1298650)',
 '2': 'Gods and Generals (tt0279111)',
 '3': 'Winnie the Pooh (tt1449283)',
 '4': '110',
 '5': '107',
 '6': 'Avatar (tt0499549)',
 '7': 'The Lone Ranger (tt1210819)'}

In [20]:
data['profit'] = data.revenue-data.budget
display(data.profit.min())

data[data.profit == data.profit.min()].original_title.unique()

-165710090

array(['The Lone Ranger'], dtype=object)

# 8. У скольких фильмов из датасета объем сборов оказался выше бюджета?

In [21]:
answers['8'] = '1478'
# если ответили верно, можете добавить комментарий со значком "+"
# "+"
display(answers)

{'1': '5. Pirates of the Caribbean: On Stranger Tides (tt1298650)',
 '2': 'Gods and Generals (tt0279111)',
 '3': 'Winnie the Pooh (tt1449283)',
 '4': '110',
 '5': '107',
 '6': 'Avatar (tt0499549)',
 '7': 'The Lone Ranger (tt1210819)',
 '8': '1478'}

In [22]:
display(data[data.revenue > data.budget].original_title.count())

film_similar=data[data.revenue > data.budget]
display(film_similar.original_title)

1478

0                     Jurassic World
1                 Mad Max: Fury Road
2                          Insurgent
3       Star Wars: The Force Awakens
4                          Furious 7
                    ...
1871               Keeping the Faith
1875                         The Kid
1877               Love & Basketball
1883                    Return to Me
1884                           X-Men
Name: original_title, Length: 1478, dtype: object

# 9. Какой фильм оказался самым кассовым в 2008 году?

In [23]:
answers['9'] = 'The Dark Knight (tt0468569)'
# если ответили верно, можете добавить комментарий со значком "+"
# "+"
display(answers)

{'1': '5. Pirates of the Caribbean: On Stranger Tides (tt1298650)',
 '2': 'Gods and Generals (tt0279111)',
 '3': 'Winnie the Pooh (tt1449283)',
 '4': '110',
 '5': '107',
 '6': 'Avatar (tt0499549)',
 '7': 'The Lone Ranger (tt1210819)',
 '8': '1478',
 '9': 'The Dark Knight (tt0468569)'}

In [24]:
df_2008=data[(data['release_year'] == 2008)]
display(df_2008.revenue.max())
df1_2008=df_2008[(df_2008['revenue']==df_2008.revenue.max())]
display(df1_2008)

1001921825

       imdb_id     budget     revenue  ... vote_average release_year     profit
599  tt0468569  185000000  1001921825  ...          8.1         2008  816921825

[1 rows x 15 columns]

# 10. Самый убыточный фильм за период с 2012 по 2014 г. (включительно)?

In [25]:
answers['10'] = 'The Lone Ranger (tt1210819)'
# если ответили верно, можете добавить комментарий со значком "+"
# "+"
display(answers)

{'1': '5. Pirates of the Caribbean: On Stranger Tides (tt1298650)',
 '10': 'The Lone Ranger (tt1210819)',
 '2': 'Gods and Generals (tt0279111)',
 '3': 'Winnie the Pooh (tt1449283)',
 '4': '110',
 '5': '107',
 '6': 'Avatar (tt0499549)',
 '7': 'The Lone Ranger (tt1210819)',
 '8': '1478',
 '9': 'The Dark Knight (tt0468569)'}

In [26]:
df=data.loc[(data.release_year>= 2012)&(data.release_year <=2014)].sort_values(by='profit',ascending=True)
display(df[df.profit==df.profit.min()].original_title)

1245    The Lone Ranger
Name: original_title, dtype: object

# 11. Какого жанра фильмов больше всего?

In [27]:
answers['11'] = 'Drama'
# если ответили верно, можете добавить комментарий со значком "+"
# "+"
display(answers)

{'1': '5. Pirates of the Caribbean: On Stranger Tides (tt1298650)',
 '10': 'The Lone Ranger (tt1210819)',
 '11': 'Drama',
 '2': 'Gods and Generals (tt0279111)',
 '3': 'Winnie the Pooh (tt1449283)',
 '4': '110',
 '5': '107',
 '6': 'Avatar (tt0499549)',
 '7': 'The Lone Ranger (tt1210819)',
 '8': '1478',
 '9': 'The Dark Knight (tt0468569)'}

In [28]:
# эту задачу тоже можно решать разными подходами, попробуй реализовать разные варианты
# если будешь добавлять функцию - выноси ее в предобработку что в начале

# split разделяет фильмы по жанрам
df2=data['genres'].str.split('|').explode().value_counts()
display(df2)

# split не разделяет фильмы по жанрам, поэтому данных выдаётся меньше
#df=data['genres'].value_counts()
#display(df)

Drama              782
Comedy             683
Thriller           596
Action             582
Adventure          415
Crime              315
Romance            308
Family             260
Science Fiction    248
Fantasy            222
Horror             176
Mystery            168
Animation          139
Music               64
History             62
War                 58
Western             19
Documentary          8
Foreign              2
Name: genres, dtype: int64

ВАРИАНТ 2

In [29]:
df = data
new_df=df['genres'].apply(lambda x: x.split('|'))

new_df.explode('genres').value_counts()

Drama              782
Comedy             683
Thriller           596
Action             582
Adventure          415
Crime              315
Romance            308
Family             260
Science Fiction    248
Fantasy            222
Horror             176
Mystery            168
Animation          139
Music               64
History             62
War                 58
Western             19
Documentary          8
Foreign              2
Name: genres, dtype: int64

In [30]:
data.genres.str.split('|').explode().value_counts()

Drama              782
Comedy             683
Thriller           596
Action             582
Adventure          415
Crime              315
Romance            308
Family             260
Science Fiction    248
Fantasy            222
Horror             176
Mystery            168
Animation          139
Music               64
History             62
War                 58
Western             19
Documentary          8
Foreign              2
Name: genres, dtype: int64

# 12. Фильмы какого жанра чаще всего становятся прибыльными?

In [31]:
answers['12'] = 'Drama'
# если ответили верно, можете добавить комментарий со значком "+"
# "+"
display(answers)

{'1': '5. Pirates of the Caribbean: On Stranger Tides (tt1298650)',
 '10': 'The Lone Ranger (tt1210819)',
 '11': 'Drama',
 '12': 'Drama',
 '2': 'Gods and Generals (tt0279111)',
 '3': 'Winnie the Pooh (tt1449283)',
 '4': '110',
 '5': '107',
 '6': 'Avatar (tt0499549)',
 '7': 'The Lone Ranger (tt1210819)',
 '8': '1478',
 '9': 'The Dark Knight (tt0468569)'}

In [32]:
df1= data.copy()
df1['genres'] = df1.genres.str.split('|')
df1 = df1.explode('genres')
#display(df1)

df1.genres[df1['profit']>0].value_counts().head(1)

Drama    560
Name: genres, dtype: int64

# 13. У какого режиссера самые большие суммарные кассовые сборы?

In [33]:
answers['13'] = 'Peter Jackson'
# если ответили верно, можете добавить комментарий со значком "+"
# "+"
display(answers)

{'1': '5. Pirates of the Caribbean: On Stranger Tides (tt1298650)',
 '10': 'The Lone Ranger (tt1210819)',
 '11': 'Drama',
 '12': 'Drama',
 '13': 'Peter Jackson',
 '2': 'Gods and Generals (tt0279111)',
 '3': 'Winnie the Pooh (tt1449283)',
 '4': '110',
 '5': '107',
 '6': 'Avatar (tt0499549)',
 '7': 'The Lone Ranger (tt1210819)',
 '8': '1478',
 '9': 'The Dark Knight (tt0468569)'}

In [34]:
df = data.copy()
df['director'] = df.director.str.split('|') 
#display(df)
df = df.explode('director').groupby(['director']).sum().sort_values(by = 'revenue', ascending=False) 
df

                       budget     revenue  ...  release_year      profit
director                                   ...
Peter Jackson      1288000000  6490593685  ...         16059  5202593685
Christopher Nolan  1005000000  4167548502  ...         16057  3162548502
David Yates         775000000  4154295625  ...          8037  3379295625
Michael Bay        1126000000  3886938960  ...         16063  2760938960
J.J. Abrams         740000000  3579169916  ...         10054  2839169916
...                       ...         ...  ...           ...         ...
David MichÃ´d        12250000     2295423  ...          2014    -9954577
Steven Shainberg     16800000     2281089  ...          2006   -14518911
Paul Schrader         7000000     2062066  ...          2002    -4937934
Keanu Reeves         25000000     2054941  ...          2013   -22945059
Simon Hunter          8000000     2033165  ...          2008    -5966835

[997 rows x 6 columns]

ВАРИАНТ 2

# 14. Какой режисер снял больше всего фильмов в стиле Action?

In [35]:
answers['14'] = 'Robert Rodriguez'
# если ответили верно, можете добавить комментарий со значком "+"
# "+"
display(answers)

{'1': '5. Pirates of the Caribbean: On Stranger Tides (tt1298650)',
 '10': 'The Lone Ranger (tt1210819)',
 '11': 'Drama',
 '12': 'Drama',
 '13': 'Peter Jackson',
 '14': 'Robert Rodriguez',
 '2': 'Gods and Generals (tt0279111)',
 '3': 'Winnie the Pooh (tt1449283)',
 '4': '110',
 '5': '107',
 '6': 'Avatar (tt0499549)',
 '7': 'The Lone Ranger (tt1210819)',
 '8': '1478',
 '9': 'The Dark Knight (tt0468569)'}

In [36]:
df = data.copy()
df['genres'] = df.genres.str.split('|') 
df['director'] = df.director.str.split('|') 
df=df.explode('genres')
#display(df)

df.sort_values(by='genres')
df = df[df.genres.str.contains('Action',na=False)]
df1 = df.explode('director').groupby(['director'])['imdb_id'].count().sort_values(ascending=False) 
df1

director
Robert Rodriguez      9
Paul W.S. Anderson    7
Michael Bay           7
Ridley Scott          6
Antoine Fuqua         6
                     ..
Joe Cornish           1
Roger Spottiswoode    1
Jimmy Hayward         1
Jim Gillespie         1
Jon Avnet             1
Name: imdb_id, Length: 364, dtype: int64

# 15. Фильмы с каким актером принесли самые высокие кассовые сборы в 2012 году?

In [37]:
answers['15'] = 'Chris Hemsworth'
# если ответили верно, можете добавить комментарий со значком "+"
# "+"
display(answers)

{'1': '5. Pirates of the Caribbean: On Stranger Tides (tt1298650)',
 '10': 'The Lone Ranger (tt1210819)',
 '11': 'Drama',
 '12': 'Drama',
 '13': 'Peter Jackson',
 '14': 'Robert Rodriguez',
 '15': 'Chris Hemsworth',
 '2': 'Gods and Generals (tt0279111)',
 '3': 'Winnie the Pooh (tt1449283)',
 '4': '110',
 '5': '107',
 '6': 'Avatar (tt0499549)',
 '7': 'The Lone Ranger (tt1210819)',
 '8': '1478',
 '9': 'The Dark Knight (tt0468569)'}

In [38]:
df = data.copy() #создаём копию Датасета
df['cast'] = df.cast.str.split('|') #разделяет актеров и переносим их в отдельные строки
df=df.explode('cast')
#display(df)

df1=df[df.release_year==2012] #отбираем только фильмы 2012 года
#display(df1)
df1.sort_values(by='revenue', ascending=False) #сортируем по кассовому сбору: самый высокий в первой строчке

#определяем суммарный кассовый сбор для каждого фильма и ставим на первую строку искомый фильм
df2 = df1.groupby(['cast']).revenue.sum().sort_values(ascending=False).head(1) 
df2

cast
Chris Hemsworth    2027450773
Name: revenue, dtype: int64

# 16. Какой актер снялся в большем количестве высокобюджетных фильмов?

In [39]:
answers['16'] = 'Matt Damon'
# если ответили верно, можете добавить комментарий со значком "+"
# "+"
display(answers)

{'1': '5. Pirates of the Caribbean: On Stranger Tides (tt1298650)',
 '10': 'The Lone Ranger (tt1210819)',
 '11': 'Drama',
 '12': 'Drama',
 '13': 'Peter Jackson',
 '14': 'Robert Rodriguez',
 '15': 'Chris Hemsworth',
 '16': 'Matt Damon',
 '2': 'Gods and Generals (tt0279111)',
 '3': 'Winnie the Pooh (tt1449283)',
 '4': '110',
 '5': '107',
 '6': 'Avatar (tt0499549)',
 '7': 'The Lone Ranger (tt1210819)',
 '8': '1478',
 '9': 'The Dark Knight (tt0468569)'}

In [40]:
df = data.copy() #создаём копию Датасета
df=df[df.budget > df.budget.mean()] #отбираем записи с бюджетом выше среднего

df1=pd.Series(df.cast.str.split('|').sum()).value_counts().index[0]
df1

'Matt Damon'

# 17. В фильмах какого жанра больше всего снимался Nicolas Cage?

In [41]:
answers['17'] = 'Action'
# если ответили верно, можете добавить комментарий со значком "+"
# "+"
display(answers)

{'1': '5. Pirates of the Caribbean: On Stranger Tides (tt1298650)',
 '10': 'The Lone Ranger (tt1210819)',
 '11': 'Drama',
 '12': 'Drama',
 '13': 'Peter Jackson',
 '14': 'Robert Rodriguez',
 '15': 'Chris Hemsworth',
 '16': 'Matt Damon',
 '17': 'Action',
 '2': 'Gods and Generals (tt0279111)',
 '3': 'Winnie the Pooh (tt1449283)',
 '4': '110',
 '5': '107',
 '6': 'Avatar (tt0499549)',
 '7': 'The Lone Ranger (tt1210819)',
 '8': '1478',
 '9': 'The Dark Knight (tt0468569)'}

In [42]:
df = data.copy()
df['genres'] = df.genres.str.split('|') 
df['cast'] = df.cast.str.split('|') 
df=df.explode('cast')
#display(df)
#display(df1)

df1=df[df.cast=='Nicolas Cage'] #отбираем только фильмы с Nicolas Cage
df1=df1.genres.explode().value_counts().head(1)
df1

Action    17
Name: genres, dtype: int64

# 18. Самый убыточный фильм от Paramount Pictures

In [43]:
answers['18'] = 'K-19: The Widowmaker'
# если ответили верно, можете добавить комментарий со значком "+"
# "+"
display(answers)

{'1': '5. Pirates of the Caribbean: On Stranger Tides (tt1298650)',
 '10': 'The Lone Ranger (tt1210819)',
 '11': 'Drama',
 '12': 'Drama',
 '13': 'Peter Jackson',
 '14': 'Robert Rodriguez',
 '15': 'Chris Hemsworth',
 '16': 'Matt Damon',
 '17': 'Action',
 '18': 'K-19: The Widowmaker',
 '2': 'Gods and Generals (tt0279111)',
 '3': 'Winnie the Pooh (tt1449283)',
 '4': '110',
 '5': '107',
 '6': 'Avatar (tt0499549)',
 '7': 'The Lone Ranger (tt1210819)',
 '8': '1478',
 '9': 'The Dark Knight (tt0468569)'}

In [44]:
df = data.copy()
df['production_companies'] = df.production_companies.str.split('|') #помещаем название компании в отдельную строку
df=df.explode('production_companies')
#display(df)

df1=df[df.production_companies=='Paramount Pictures'] #отбираем самый убыточный фильм
df1

df2 = df1.groupby(['original_title']).sum().sort_values(by='profit',ascending=True).head(1)
df2

                         budget   revenue  ...  release_year    profit
original_title                             ...
K-19: The Widowmaker  100000000  35168966  ...          2002 -64831034

[1 rows x 6 columns]

# 19. Какой год стал самым успешным по суммарным кассовым сборам?

In [45]:
answers['19'] = '2015'
# если ответили верно, можете добавить комментарий со значком "+"
# "+"
display(answers)

{'1': '5. Pirates of the Caribbean: On Stranger Tides (tt1298650)',
 '10': 'The Lone Ranger (tt1210819)',
 '11': 'Drama',
 '12': 'Drama',
 '13': 'Peter Jackson',
 '14': 'Robert Rodriguez',
 '15': 'Chris Hemsworth',
 '16': 'Matt Damon',
 '17': 'Action',
 '18': 'K-19: The Widowmaker',
 '19': '2015',
 '2': 'Gods and Generals (tt0279111)',
 '3': 'Winnie the Pooh (tt1449283)',
 '4': '110',
 '5': '107',
 '6': 'Avatar (tt0499549)',
 '7': 'The Lone Ranger (tt1210819)',
 '8': '1478',
 '9': 'The Dark Knight (tt0468569)'}

In [46]:
df=data.copy() #копия датасета

display(df.groupby(by='release_year')['revenue'].sum()) #группировка кассовых сборов по годам; при группировке выполняется суммирование
display(df.groupby(by='release_year')['revenue'].sum().sort_values(ascending=True).tail(1)) #тоже, но выводится последняя строка с максимальными кассовыми сборами

release_year
2000    10664099805
2001    13017764865
2002    14136361487
2003    14346123312
2004    15663430720
2005    15309425558
2006    14775042320
2007    18162406801
2008    18252781990
2009    20261791024
2010    21071204961
2011    22676791872
2012    23079001687
2013    23213799791
2014    23405862953
2015    25449202382
Name: revenue, dtype: int64

release_year
2015    25449202382
Name: revenue, dtype: int64

# 20. Какой самый прибыльный год для студии Warner Bros?

In [47]:
answers['20'] = '2014'
# если ответили верно, можете добавить комментарий со значком "+"
# "+"
display(answers)

{'1': '5. Pirates of the Caribbean: On Stranger Tides (tt1298650)',
 '10': 'The Lone Ranger (tt1210819)',
 '11': 'Drama',
 '12': 'Drama',
 '13': 'Peter Jackson',
 '14': 'Robert Rodriguez',
 '15': 'Chris Hemsworth',
 '16': 'Matt Damon',
 '17': 'Action',
 '18': 'K-19: The Widowmaker',
 '19': '2015',
 '2': 'Gods and Generals (tt0279111)',
 '20': '2014',
 '3': 'Winnie the Pooh (tt1449283)',
 '4': '110',
 '5': '107',
 '6': 'Avatar (tt0499549)',
 '7': 'The Lone Ranger (tt1210819)',
 '8': '1478',
 '9': 'The Dark Knight (tt0468569)'}

In [48]:
df=data.copy() #копия датасета

df['production_companies'] = df.production_companies.str.split('|') #помещаем название компании в отдельную строку
df=df.explode('production_companies')
#display(df)

df1=df[df.production_companies.str.contains('Warner Bros')] #отбираем записи в датасет, относящиеся к компании Warner Bros
df1

display(df1.groupby(by='release_year')['revenue'].sum()) #группировка кассовых сборов по годам; при группировке выполняется суммирование
display(df1.groupby(by='release_year')['revenue'].sum().sort_values(ascending=True).tail(1)) #тоже, но выводится последняя строка с максимальными кассовыми сборами

release_year
2000    1025531386
2001    2280142579
2002    1702709901
2003    2814008221
2004    2731933725
2005    2412980298
2006    1576351872
2007    3183675217
2008    3050595031
2009    2737954136
2010    3008712985
2011    2845393682
2012    1869520056
2013    2599953400
2014    3246549646
2015    1691168351
Name: revenue, dtype: int64

release_year
2014    3246549646
Name: revenue, dtype: int64

# 21. В каком месяце за все годы суммарно вышло больше всего фильмов?

In [49]:
answers['21'] = 'сентябрь'
# если ответили верно, можете добавить комментарий со значком "+"
# "+"
display(answers)

{'1': '5. Pirates of the Caribbean: On Stranger Tides (tt1298650)',
 '10': 'The Lone Ranger (tt1210819)',
 '11': 'Drama',
 '12': 'Drama',
 '13': 'Peter Jackson',
 '14': 'Robert Rodriguez',
 '15': 'Chris Hemsworth',
 '16': 'Matt Damon',
 '17': 'Action',
 '18': 'K-19: The Widowmaker',
 '19': '2015',
 '2': 'Gods and Generals (tt0279111)',
 '20': '2014',
 '21': 'сентябрь',
 '3': 'Winnie the Pooh (tt1449283)',
 '4': '110',
 '5': '107',
 '6': 'Avatar (tt0499549)',
 '7': 'The Lone Ranger (tt1210819)',
 '8': '1478',
 '9': 'The Dark Knight (tt0468569)'}

In [50]:
df=data.copy() #копия датасета

df['month'] =pd.to_datetime(df.release_date)
#display(df.month)

df['month'] =df["month"].dt.month #сформировали колонку в датасете и ввели в неё месяц из даты релиза
#display(df)

display(df.groupby(by='month')['original_title'].count().sort_values(ascending=False).head(1)) 
#группировка по месяцам за все годы; выдается только месяц и наибольшее количество фильмов

month
9    227
Name: original_title, dtype: int64

# 22. Сколько суммарно вышло фильмов летом? (за июнь, июль, август)

In [51]:
answers['22'] = '450'
# если ответили верно, можете добавить комментарий со значком "+"
# "+"
display(answers)

{'1': '5. Pirates of the Caribbean: On Stranger Tides (tt1298650)',
 '10': 'The Lone Ranger (tt1210819)',
 '11': 'Drama',
 '12': 'Drama',
 '13': 'Peter Jackson',
 '14': 'Robert Rodriguez',
 '15': 'Chris Hemsworth',
 '16': 'Matt Damon',
 '17': 'Action',
 '18': 'K-19: The Widowmaker',
 '19': '2015',
 '2': 'Gods and Generals (tt0279111)',
 '20': '2014',
 '21': 'сентябрь',
 '22': '450',
 '3': 'Winnie the Pooh (tt1449283)',
 '4': '110',
 '5': '107',
 '6': 'Avatar (tt0499549)',
 '7': 'The Lone Ranger (tt1210819)',
 '8': '1478',
 '9': 'The Dark Knight (tt0468569)'}

In [52]:
df=data.copy() #копия датасета

df['month'] =pd.to_datetime(df.release_date)
#display(df.month)

df['month'] =df["month"].dt.month #сформировали колонку в датасете и ввели в неё месяц из даты релиза
#display(df)

df.groupby(by='month')['original_title'].count().sort_values(ascending=True)

df1=df.loc[(df.month>=6)&(df.month <=8)].sort_values(by='month',ascending=True) #отбор данных по лету
df1=df1.month.count() #вывод суммарного количества фильмов
display(df1)

450

# 23. Для какого режиссера зима – самое продуктивное время года?

In [135]:
answers['23'] = 'Peter Jackson'
# если ответили верно, можете добавить комментарий со значком "+"
# "+"
display(answers)

{'1': '5. Pirates of the Caribbean: On Stranger Tides (tt1298650)',
 '10': 'The Lone Ranger (tt1210819)',
 '11': 'Drama',
 '12': 'Drama',
 '13': 'Peter Jackson',
 '14': 'Robert Rodriguez',
 '15': 'Chris Hemsworth',
 '16': 'Matt Damon',
 '17': 'Action',
 '18': 'K-19: The Widowmaker',
 '19': '2015',
 '2': 'Gods and Generals (tt0279111)',
 '20': '2014',
 '21': 'сентябрь',
 '22': '450',
 '23': 'Peter Jackson',
 '3': 'Winnie the Pooh (tt1449283)',
 '4': '110',
 '5': '107',
 '6': 'Avatar (tt0499549)',
 '7': 'The Lone Ranger (tt1210819)',
 '8': '1478',
 '9': 'The Dark Knight (tt0468569)'}

In [134]:
df=data.copy() #копия датасета

df['month'] =pd.to_datetime(df.release_date)
#display(df.month)

df['month'] =df["month"].dt.month #сформировали колонку в датасете и ввели в неё месяц из даты релиза
#display(df)

df.groupby(by='month')['original_title'].count().sort_values(ascending=True)
#display(df.month.count())

df['director'] = df.director.str.split('|') #помещаем ФИО режиссеров в отдельную строку
df=df.explode('director')
#display(df)

df.groupby(by='director')['month'].sum().sort_values(ascending=False) 
#сортировка по режиссерам (первые топ - Clint Eastwood, Steven Soderbergh, Ridley Scott, Peter Jackson, Christopher Nolan)

df1=df.loc[(df.month <=2) ].sort_values(by='month',ascending=True) #формируем два датасета df1 и df2 с данными по зиме
df2=df.loc[(df.month >=12) ].sort_values(by='month',ascending=True)
#display(df1)
#display(df2)

total_df = pd.concat([df1, df2]) #объединяем два датасета df1 и df2 с одинаковым количеством столбцов (одинаковых по наименованию и типу) в один
#display(total_df)

total_df.groupby(by='director')['month'].sum().sort_values(ascending=False).head(5) #выводим рейтинг режисссеров (лидеров; первых пятерых)

director
Peter Jackson        84
Clint Eastwood       61
Steven Soderbergh    51
Nancy Meyers         48
Martin Scorsese      38
Name: month, dtype: int64

# 24. Какая студия дает самые длинные названия своим фильмам по количеству символов?

In [164]:
answers['24'] = 'Four By Two Productions'
# если ответили верно, можете добавить комментарий со значком "+"
# "+"
display(answers)

{'1': '5. Pirates of the Caribbean: On Stranger Tides (tt1298650)',
 '10': 'The Lone Ranger (tt1210819)',
 '11': 'Drama',
 '12': 'Drama',
 '13': 'Peter Jackson',
 '14': 'Robert Rodriguez',
 '15': 'Chris Hemsworth',
 '16': 'Matt Damon',
 '17': 'Action',
 '18': 'K-19: The Widowmaker',
 '19': '2015',
 '2': 'Gods and Generals (tt0279111)',
 '20': '2014',
 '21': 'сентябрь',
 '22': '450',
 '23': 'Peter Jackson',
 '24': 'Four By Two Productions',
 '3': 'Winnie the Pooh (tt1449283)',
 '4': '110',
 '5': '107',
 '6': 'Avatar (tt0499549)',
 '7': 'The Lone Ranger (tt1210819)',
 '8': '1478',
 '9': 'The Dark Knight (tt0468569)'}

In [163]:
df=data.copy() #копия датасета

df['production_companies'] = df.production_companies.str.split('|') #помещаем название студии в отдельную строку
df=df.explode('production_companies')
#display(df)

df['title_len'] =df['original_title'].str.len() #формируем новый столбец под значение средней длины названия фильма

df.groupby(by='production_companies')['title_len'].mean().sort_values(ascending=False).head(5) 
#находим студию, фильм которой с самым длинным наименованием; выводим пять лидеров

production_companies
Four By Two Productions      83.0
Jim Henson Company, The      59.0
Dos Corazones                47.0
Museum Canada Productions    46.0
Polsky Films                 46.0
Name: title_len, dtype: float64

# 25. Описание фильмов какой студии в среднем самые длинные по количеству слов?

In [222]:
answers['25'] = 'Midnight Picture Show'
# если ответили верно, можете добавить комментарий со значком "+"
# "+"
display(answers)

{'1': '5. Pirates of the Caribbean: On Stranger Tides (tt1298650)',
 '10': 'The Lone Ranger (tt1210819)',
 '11': 'Drama',
 '12': 'Drama',
 '13': 'Peter Jackson',
 '14': 'Robert Rodriguez',
 '15': 'Chris Hemsworth',
 '16': 'Matt Damon',
 '17': 'Action',
 '18': 'K-19: The Widowmaker',
 '19': '2015',
 '2': 'Gods and Generals (tt0279111)',
 '20': '2014',
 '21': 'сентябрь',
 '22': '450',
 '23': 'Peter Jackson',
 '24': 'Four By Two Productions',
 '25': 'Midnight Picture Show',
 '3': 'Winnie the Pooh (tt1449283)',
 '4': '110',
 '5': '107',
 '6': 'Avatar (tt0499549)',
 '7': 'The Lone Ranger (tt1210819)',
 '8': '1478',
 '9': 'The Dark Knight (tt0468569)'}

In [221]:
df=data.copy() #копия датасета

df['production_companies'] = df.production_companies.str.split('|') #помещаем название студии в отдельную строку
df=df.explode('production_companies')
#display(df)

df['overview_len'] = df.overview.apply(lambda x: len(str(x).split(' '))) #формируем новый столбец под значение кол-ва слов в описании фильма
df.overview_len.describe()

df.groupby(by='production_companies')['overview_len'].max().sort_values(ascending=False)
#находим студию, у которой описание фильма самое длинное по кол-ву слов; выводим пять лидеров

production_companies
Lions Gate Films                         175
Lakeshore Entertainment                  175
Midnight Picture Show                    175
GreeneStreet Films                       175
Radical Studios                          169
                                        ...
Our Stories Films                         13
Phantom Four                              13
Projection Pictures                       13
Empire Pictures                           11
Motion Picture Corporation of America     11
Name: overview_len, Length: 1771, dtype: int64

# 26. Какие фильмы входят в 1 процент лучших по рейтингу? 
по vote_average

In [339]:
answers['26'] = 'Inside Out, The Dark Knight, 12 Years a Slave'
# если ответили верно, можете добавить комментарий со значком "+"
# "+"
display(answers)

{'1': '5. Pirates of the Caribbean: On Stranger Tides (tt1298650)',
 '10': 'The Lone Ranger (tt1210819)',
 '11': 'Drama',
 '12': 'Drama',
 '13': 'Peter Jackson',
 '14': 'Robert Rodriguez',
 '15': 'Chris Hemsworth',
 '16': 'Matt Damon',
 '17': 'Action',
 '18': 'K-19: The Widowmaker',
 '19': '2015',
 '2': 'Gods and Generals (tt0279111)',
 '20': '2014',
 '21': 'сентябрь',
 '22': '450',
 '23': 'Peter Jackson',
 '24': 'Four By Two Productions',
 '25': 'Midnight Picture Show',
 '26': 'Inside Out, The Dark Knight, 12 Years a Slave',
 '27': '.....',
 '3': 'Winnie the Pooh (tt1449283)',
 '4': '110',
 '5': '107',
 '6': 'Avatar (tt0499549)',
 '7': 'The Lone Ranger (tt1210819)',
 '8': '1478',
 '9': 'The Dark Knight (tt0468569)'}

In [343]:
df=data.copy() #копия датасета

df.vote_average.describe(percentiles=[0.01]) #проверка датасета, а есть ли такие фильмы

vote_99 = np.percentile(df.vote_average, 99) #определяем абсолютное значение, соответствующее 1%
#display(vote_99)

df1 = df[df.vote_average >= vote_99].sort_values(by='vote_average', ascending=False) #формируем выборку с фильмами, попадающих в 1%
#display(df1)

df1.groupby(by='original_title')['vote_average'].max().sort_values(ascending=False).head(12)
#формируем рейтинг, в котором находим фильм, входящий в 1 процент лучших по рейтингу
#по рейтингу выбираем фильмы

original_title
The Dark Knight                                  8.1
Inside Out                                       8.0
Interstellar                                     8.0
Room                                             8.0
The Imitation Game                               8.0
Gone Girl                                        7.9
Memento                                          7.9
The Wolf of Wall Street                          7.9
Guardians of the Galaxy                          7.9
12 Years a Slave                                 7.9
Inception                                        7.9
The Lord of the Rings: The Return of the King    7.9
Name: vote_average, dtype: float64

# 27. Какие актеры чаще всего снимаются в одном фильме вместе?

In [353]:
answers['27'] = 'Daniel Radcliffe & Rupert Grint'
# если ответили верно, можете добавить комментарий со значком "+"
# "+"
display(answers)

{'1': '5. Pirates of the Caribbean: On Stranger Tides (tt1298650)',
 '10': 'The Lone Ranger (tt1210819)',
 '11': 'Drama',
 '12': 'Drama',
 '13': 'Peter Jackson',
 '14': 'Robert Rodriguez',
 '15': 'Chris Hemsworth',
 '16': 'Matt Damon',
 '17': 'Action',
 '18': 'K-19: The Widowmaker',
 '19': '2015',
 '2': 'Gods and Generals (tt0279111)',
 '20': '2014',
 '21': 'сентябрь',
 '22': '450',
 '23': 'Peter Jackson',
 '24': 'Four By Two Productions',
 '25': 'Midnight Picture Show',
 '26': 'Inside Out, The Dark Knight, 12 Years a Slave',
 '27': 'Daniel Radcliffe & Rupert Grint',
 '3': 'Winnie the Pooh (tt1449283)',
 '4': '110',
 '5': '107',
 '6': 'Avatar (tt0499549)',
 '7': 'The Lone Ranger (tt1210819)',
 '8': '1478',
 '9': 'The Dark Knight (tt0468569)'}

In [354]:
df=data.copy() #копия датасета

df['cast'] = df.cast.str.split('|') #помещаем название студии в отдельную строку
df.cast=df.cast.apply(lambda x: list(combinations(sorted(x), 2)))
df=df.explode('cast').cast.mode()
display(df)

0     (Daniel Radcliffe, Emma Watson)
1    (Daniel Radcliffe, Rupert Grint)
2         (Emma Watson, Rupert Grint)
dtype: object

ВАРИАНТ 2

# Submission

In [355]:
# в конце можно посмотреть свои ответы к каждому вопросу
answers

{'1': '5. Pirates of the Caribbean: On Stranger Tides (tt1298650)',
 '10': 'The Lone Ranger (tt1210819)',
 '11': 'Drama',
 '12': 'Drama',
 '13': 'Peter Jackson',
 '14': 'Robert Rodriguez',
 '15': 'Chris Hemsworth',
 '16': 'Matt Damon',
 '17': 'Action',
 '18': 'K-19: The Widowmaker',
 '19': '2015',
 '2': 'Gods and Generals (tt0279111)',
 '20': '2014',
 '21': 'сентябрь',
 '22': '450',
 '23': 'Peter Jackson',
 '24': 'Four By Two Productions',
 '25': 'Midnight Picture Show',
 '26': 'Inside Out, The Dark Knight, 12 Years a Slave',
 '27': 'Daniel Radcliffe & Rupert Grint',
 '3': 'Winnie the Pooh (tt1449283)',
 '4': '110',
 '5': '107',
 '6': 'Avatar (tt0499549)',
 '7': 'The Lone Ranger (tt1210819)',
 '8': '1478',
 '9': 'The Dark Knight (tt0468569)'}

In [356]:
# и убедиться что ни чего не пропустил)
len(answers)

27